<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "hello" content="width= device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DOC</title>
    </head>
    <body>
        <% for(let i = 0; i < allusers.length; i++) {%>
            <span>
                Username: <% allusers[i] %>
            </span>
        <% } %>
    </body>
</html>